:root {
  --main-txt-color: #212121;
  --body-color: #ffffff;
  --txt-color: #757575;
  --heder-link-color: #2196f3;
  --logo-footer-color: #000000;
  --section1-background-color: #2f303a;
  --footer-link-color: rgb(255, 255, 255, 0.6);
  --section2-background-color: #ececec;
  --section-background-color: #f5f4fa;
  --activity-color: #ff0000;
  --border-color: rgb(175, 177, 184);
  --color-opacity: rgba(0, 0, 0, 0.2);
  --circle-coloir: rgba(0, 0, 0, 0.1);
  --worck-card-color: rgba(47, 48, 58, 0.8);
  --worck-color: rgba(33, 150, 243, 0.9);
  --mail-border-color: rgba(255, 255, 255, 0.3);
  --contact-border-color: rgba(33, 33, 33, 0.2);
}
